html,
body {
  height: 100%;
  background-image: url(background.jpeg);
  background-repeat: no-repeat;
  background-position: left;
  background-color: black;
}

.pastColor {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 50%;
}

#background {
  width: 482px;
}

#app {
  height: 100%;
}
